/* This stylesheet is used to style the admin option form of the plugin. */

/**
* CSS Hacks
*
* Needed common CSS trick
*/
#wpc2-default-options-plugin .postbox {
	padding-left: 20px;
	padding-right: 20px;
}
#wpc2-default-options-php {
	font-family: Consolas,Monaco,monospace;
	font-size: 13px;
	width: 97%;
	background: none repeat scroll 0% 0% #F9F9F9;
	outline: medium none;
}
